* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

header {
    margin-bottom: 75px;
}

.hero {
    background: #1F2937;
    padding: 0 0 50px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
  }

a{
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

img {
    max-width: 100%;
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 5px;
    background: #3882f6;
    margin-top: 10px;
    padding: 8px 16px;
    width: 120px;
    color: #e5e7eb;
    cursor: pointer;
}

button:hover {
    background: #e5e7eb;
    color: #3882f6
}

.hero-text .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    height: 100%;
}

.hero-sign-up {
    flex: 1 1 50%;
}

.hero-text img{
    max-width: 500px;
}

/* @media (max-width: 768px ) {
    .hero-text .container {
        flex-direction: column;
        text-align: center;
    }
} */

.card-section {
    color: #1f2937;
    margin: 32px 0;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
}


.card-image {
    /* width: 150px; */
    height: 150px;
    border-radius: 8px;
    border: 4px solid  #3882F6;
    margin-bottom: 16px;
}

.card {
    max-width: 150px;
}

.card-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* @media (max-width: 768px ) {
    .card-section .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
} */

.quote-section {
    background-color: #e5e7eb;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section .container {
    color: #1f2937;
    flex-basis: 800px;
    padding: 30px;
}

.quote-section p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 18px;
    text-align: justify;
}

.quote-section span {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

/* call to action */

.call-to-action {
    display: flex;
    justify-content: center;
}

.call-to-action .container{
    flex-basis: 1000px;
    background-color: #3882F6;
    padding: 40px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 100px;
}

.call-to-action button {
    background-color: #3882F6;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 100px;
    flex-shrink: 0;
}

.call-to-action button:hover {
    background-color: white;
    color: #3882F6;
    cursor: pointer;
    border: 1px solid gray;
}

footer {
    background-color: #1F2937;
    padding: 20px 0;
}

footer .container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}